<div class="container">
  <div class="row">
    <% @days.each do |day| %>
      <div class="col-sm">
        <%= day.day_name %> <br/>
        <% day.schedules.each do |schedule| %>
          <%= schedule.schedule_name %><br />
          <% schedule.tacticians.each do |tactician| %>
          <%= tactician.name %><br />
          <%end%>
        <% end %>
     </div>
    <% end %>
  </div>
</div>
