<ul>
  <li> <%= @day.day_name %> </li>
</ul>

<ul>
  <% @tacticians.each do |tactician| %>
    <li> <%= tactician.name %> </li>
    <% tactician.schedules.each do |schedule| %>
    <li> <%= schedule.name %> </li>
    <% end %>
  <% end %>
</ul>
